.showInput{
    min-height: 7rem;
    height: auto;
}
.showMode{
    min-height: 5rem;
    height: auto;
}
.round{
    min-height: 3rem;
    height: auto;
}
.showTxt {
    font-size: 2rem;
    height: 3rem;
    /* height: auto; */
    display: inline !important;
}

.showValue {
    min-height: 80px;
    height: auto;
}

.num-input {
    all: unset;
    font-size: 1.5rem;
    color: var(--white);
    background-color: transparent;
    border-bottom: 3px solid var(--white);
}

.Easy {
    color: var(--blue);
    font-weight: 700;
    font-size: 4rem;
}

.Normal {
    color: var(--orange);
    font-weight: 700;
    font-size: 4rem;
}

.Hard {
    color: var(--red);
    font-weight: 700;
    font-size: 4rem;
}

.White{
    border: 3px solid var(--white);
    background-color: transparent;
    color: var(--white);
}
.White:hover{
    border: 3px solid var(--white);
    background-color: var(--white);
    color: var(--blue);
    transition: all 0.3s ease;
}