
.showTxt{
    font-size: 2rem;
    height: 3rem;
}

.showValue{
    min-height:  100px;
    height: auto;
}
.num-input {
    all: unset;
    font-size: 1.5rem;
    color: var(--white);
    background-color: transparent;
    border-bottom: 3px solid var(--white);
}

.easy{
    color: var(--blue);
    font-weight: 700;
    font-size: 4rem;
}
.normal{
    color: var(--orange);
    font-weight: 700;
    font-size: 4rem;
}
.hard{
    color: var(--red);
    font-weight: 700;
    font-size: 4rem;
}